function Main.IsEven 3
push constant 1
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push argument 0
push constant 0
gt
not
if-goto WHILE_END0
push argument 0
push constant 2
sub
pop argument 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
return
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 2
return
